<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css" integrity="sha384-dpuaG1suU0eT09tx5plTaGMLBsfDLzUCCUXOY2j/LSvXYuG6Bqs43ALlhIqAJVRb" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='registration.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='light.css') }}">

    <title>Registration page</title>
<body style="min-height: 100vh;">
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="/">LvivAssistHub</a>
          </div>
        </nav>
      </header>
</body>
    <div class="content-section">
        <form method="POST" action="">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                    <legend class="border_bottom mb-4">Create your account</legend>
                    <div class="forms-group">
                        <div class="form-group">
                            {{ form.name.label(class='form-control-label') }}
                            {{ form.name(class='form-control form-control-lg') }}
                        </div>
                        <div class="form-group">
                            {{ form.surname.label(class='form-control-label') }}
                            {{ form.surname(class='form-control form-control-lg') }}
                        </div>
                        <div class="form-group">
                            {{ form.email.label(class='form-control-label') }}
                            {{ form.email(class='form-control form-control-lg') }}
                        </div>
                        <div class="form-group">
                            {{ form.password.label(class='form-control-label') }}
                            {{ form.password(class='form-control form-control-lg') }}
                        </div>
                        <div class="form-group">
                            {{ form.confirm_password.label(class='form-control-label') }}
                            {{ form.confirm_password(class='form-control form-control-lg') }}
                        </div>
                    </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class='btn btn-outkine-info') }}
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted custom-color">
                Already Have An Account? <a class="ml-2" href="{{ url_for('login')}}">Log In</a>
            </small>
        </div>
        
        
        
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <main>
        <div class="button-container">
            <input class="l" type="checkbox" id="light-toggle">
            <label for="light-toggle"></label>
            <div class="light-bulb"></div>
        </div>
    </main>
</body>
<script>
    const lightBulb = document.querySelector('.light-bulb');
    const lightToggle = document.getElementById('light-toggle');
    const body = document.body;
    const logoutButton = document.querySelector('.logout-button');
    const savedState = localStorage.getItem('lightState');

    
    lightToggle.checked = savedState === 'on';
    body.style.backgroundImage = "url('/static/registration.png')";
    if (lightToggle.checked) {
        body.style.background = "url('/static/registration_dark.png')";
    }
    lightToggle.addEventListener('change', function() {
        localStorage.setItem('lightState', this.checked ? 'on' : 'off');
        if (this.checked) {
            lightBulb.classList.add('light-on');
            body.style.background = "url('/static/registration_dark.png')";
        } else {
            lightBulb.classList.remove('light-on');
            body.style.backgroundImage = "url('/static/registration.png')";
        }
    });
</script>
</html>