<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LvivAssistHub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <h1>LvivAssistHub</h1>

    <a href="{{ url_for('search') }}">
        <button class="button" style="position: absolute; top: 425px; left: 70px;">I'm a user</button>
    </a>

    <a href="{{ url_for('employee') }}">
        <button class="button" style="position: absolute; top: 587px; left: 70px;">I'm a service provider</button>
    </a>
</body>
</html>