<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <h1>LvivAssistHub</h1>
        </a>
    </head>
<body>
    <a href="destination1.html">
        <button class='button' style="position: absolute; top: 425px; left: 70px;">Sign up</button>
    </a>
    <a href="destination2.html">
        <button class='button' style="position: absolute; top: 587px; left: 75px;">Log in</button>
    </a>
    <a href="destination3.html">
        <button class='button' style="position: absolute; top: 750px; left: 60px;">About us</button>
</body>
</html>